@using BusinessLayer.Models.Experiences
@using System.Collections.Immutable
@model IImmutableList<GetExperienceModel>
@{
    ViewBag.Title = "Experiences List";
    Layout = "_AdminLayout";
}


<style>
    .table-responsive {
        overflow-x: auto;
    }

    .table td, .table th {
        white-space: normal;
        word-wrap: break-word;
    }
</style>

<div class="container mt-5">
    <div class="card">
        <div class="card-header border-0">
            <h1 class="mb-0 text-center">Experience List</h1>
            <br>
            <a href="/experiences/add" class="btn btn-success ml-lg-auto">Insert new <b>experience</b> to database</a>
        </div>
        @if (Model.Count > 0)
        {
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Company Name</th>
                    <th>Job start date</th>
                    <th>Job finish date</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.CompanyName</td>
                    <td>@item.DateFrom.Year</td>
                    @if (!@item.DateTo.HasValue || @item.DateTo == DateTime.MinValue)
                    {
                            <td>Still working</td> 
                    }
                    else
                    {
                        <td>@item.DateTo.Value.Year</td>
                    }
                    <td>
                        @if (item.Image != null && item.Image.Length > 0)
                        {
                        string imageBase64 = Convert.ToBase64String(item.Image);
                        <img src="data:image/png;base64,@imageBase64" alt="Image" class="img-thumbnail" style="max-height: 100px;">
                        }
                        else
                        {
                        <span>No Image</span>
                        }
                    </td>
                    <td>
                        <a href="/experiences/update/@item.Id" class="btn btn-warning btn-sm">Update</a>
                        <a href="/experiences/delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
        }
        else
        {
        <p class="text-center">No experience found. Please add a new experience.</p>
        }
    </div>
</div>


